PUPPETEER_DOWNLOAD_BASE_URL="https://registry.npmmirror.com/binary.html?path=chrome-for-testing/"
PUPPETEER_BROWSER_REVISION="123.0.6301.2"

# PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
# PUPPETEER_EXECUTABLE_PATH=`which chromium`