package-lock=false

PUPPETEER_DOWNLOAD_BASE_URL="https://registry.npmmirror.com/binary.html?path=chrome-for-testing/"
PUPPETEER_BROWSER_REVISION="123.0.6301.2"

npm_config_sharp_libvips_binary_host="https://cdn.npmmirror.com/binaries/sharp-libvips"